.revisions-digest-widget .activity-block .toggle-indicator {
	float: right;
}

.revisions-digest-widget .activity-block.closed .change-details {
	max-height: 0;
	overflow-y: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
 }
.revisions-digest-widget .activity-block .change-details {
	max-height: 500px;
	overflow-y: auto;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
 }
